
body {
	background-image: url("https://chocogithub.github.io/firstdev/css/canvas2.jpg");
	margin: auto;
	padding-top: 15px;
}	

.header {
	height: 45px;
	background-color: rgba(240, 240, 240, 0.7);
	padding: 10px;
}

img {
	width: 55%;
}

.navigation {
	margin-right: 5rem;
}

a:link, a:visited {
  	color: white;
  	text-align: center;
  	text-decoration: none!important;
  	font-family: Geneva, Verdana, sans-serif;
}

.header a:hover {
	color: #a5333b;
}
.pre-content {
	margin: 50px 0px 50px 0px;
	height: 300px;
}

.content {
	padding: 15px;
	height: 250px;
	background-color: rgba(64, 119, 152, 0.5);
}
label {
	font-family: Geneva, Verdana, sans-serif;
	color: White;
}
input[type=button] {
	width: 20em;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
  background: #4267B2;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
